/* Currently using Bootstrap styles and some default style */
.no-close .ui-dialog-titlebar {
            display: none;
	}
	
	#privacylink {
            color: blue;
            text-decoration: none;
    }

	#privacylink:hover {
		cursor: pointer;
	}
	
	.donationForm .validation {
            color: Red;
	}

	.consentValidation {
		color: Red;
	}

	.donationForm ul {
		list-style-type: none;
	}
	
	.donationForm .DonationListingHeading {
            font-size: large;
            font-weight: bold;
    }
	
    .donationForm .confirmation {
            min-height: 400px;
    }

	.donationForm .invisible {
		display: none;
	}
	
	.DonationListingHeading {
            height: 2.25em !important;
    }